@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
@mixin font ($font-size: 14px, $font-weight: 400) {
  font-size: $font-size;
  font-weight: $font-weight;
}
