.advantages {
  text-align: center;
}
.advantages__header-wrapper {
  @include container;
}
.advantages__header {
  padding-top: 46px;
}
.advantages__title {
  padding-bottom: 30px;
  @include font(24px, 300);
  color:  #283645;
}
.advantages__items {
  padding: 50px 23px 350px;
  background: url('../img/iphone-screen-mobile@1x.png') center bottom no-repeat, #f2f2f2;
  & p {
    @include font;
    line-height: 24px;
    color: #283645;
  }
}
.advantages__items-wrapper {
  @include container;

  @media ($tablet) {
    padding-left: 310px;
  }
  @media ($desctop) {
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }
}
.advantages__item-wrapper {
  @media ($desctop) {
    // display: inline-block;
    width: 236px;
  }
}
.advantages__item {
  @include font(18px, 700);
  line-height: 24px;
}
