.cost {
  height: 485px;
  background-color: #f2f2f2;
  overflow: hidden;

  @media ($tablet) {
    height: auto;
    padding-top: 89px;
    padding-bottom: 68px;
  }
  @media ($desctop) {
    padding-top: 140px;
    padding-bottom: 95px;
  }
}
.cost__wrapper {
  position: relative;
  @include container-fluid;
  padding-top: 424px;
}
.cost-table {
  position: absolute;
  top: 105px;
  left: -297px;
  width: 875px;
  border-collapse: collapse;

  @media ($tablet) {
    position: static;
    width: 100%;
  }
}
.cost-table-header {
  line-height: 30px;
  color: #fff;
}
.cost-table-header th:nth-child(n+2) {
  background-color: #283645;
  border: 2px solid #283645;
  border-right: 2px solid $bg-grey;
}
.cost-table-header p:first-child {
  margin: 13px 0 0;
  @include font(18px, 700);
  text-transform: uppercase;

  @media ($tablet) {
    margin-top: 9px;
    font-size: 16px;
  }
  @media ($desctop) {
    margin-top: 13px;
    font-size: 18px;
  }
}
.cost-table-header p:last-child {
  margin: 2px 0 17px;
  @include font(24px, 300);

  @media ($tablet) {
    font-size: 18px;
    margin-top: -3px;
    margin-bottom: 7px;
  }
  @media ($desctop) {
    margin-top: 2px;
    margin-bottom: 17px;
    font-size: 24px;
  }
}
.cost-table-body td {
  height: 61px;
  text-transform: uppercase;
  padding-left: 21px;
  border: 2px solid #e5e5e5;
  background-color: #fff;

  @media ($tablet) {
    width: 25%;
    height: 47px;
    padding-left: 15px;
  }
  @media ($desctop) {
    height: 61px;
    padding-left: 21px;
  }
}
.cost-table-body td:first-child {
  font-size: 0;
  border: none;

  @media ($tablet) {
    font-size: 14px;
    border: 2px solid #e5e5e5;
    text-transform: none;
  }
  @media ($desctop) {
    font-size: 18px;
  }
}
.cost-table-body td:nth-child(n+2) {
  @media ($tablet) {
    font-size: 0;
  }
}
.cost-package-hit {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 74px;
    height: 73px;
    background-image: url('../img/bg-hit.svg');

    @include tablet-up {
      width: 61px;
      height: 61px;
      background-image: url('../img/bg-hit-tablet.svg');
    }
    @include desctop-up {
      width: 74px;
      height: 73px;
      background-image: url('../img/bg-hit.svg');
    }
  }
  &::after {
    content: 'ХИТ';
    position: absolute;
    top: 10px;
    left: 7px;
    transform: rotateZ(-45deg);

    @include tablet-up {
      top: 2px;
      left: 5px;
    }
    @include desctop-up {
      top: 9px;
      left: 9px;
    }
  }
}
.cost__toggles {

  @include tablet-up {
    display: none;
  }
}
