.cost {
  // height: 485px;
  background-color: #f2f2f2;
  overflow: hidden;

  @include tablet-up {
    height: auto;
    padding-bottom: 68px;
  }
  @include desktop-up {
    padding-bottom: 95px;
  }
}
.cost__triangle-top {
  width: 100%;
  height: 25px;

  @include tablet-up {
    height: 52px;
  }
  @include desktop-up {
    height: 65px;
    margin-bottom: 10px;
  }
}
.cost__wrapper {
  position: relative;
  @include container-fluid;
  padding-top: 370px;
  padding-bottom: 47px;

  @include tablet-up {
    margin-top: 34px;
  }
  @include desktop-up {
    margin-top: 62px;
  }
}
.cost__table {
  position: absolute;
  top: 63px;
  left: -288px;
  width: 867px;
  border-collapse: collapse;

  @include tablet-up {
    position: static;
    width: 100%;
  }
}
.cost__table-header {
  line-height: 30px;
  color: #fff;
}
.cost__table-header th:nth-child(n+2) {
  background-color: #283645;
  border: 2px solid #283645;
  border-right: 2px solid $bg-grey;
}
.cost__table-header p:first-child {
  margin: 13px 0 0;
  @include font(18px, 700);
  text-transform: uppercase;

  @include tablet-up {
    margin-top: 9px;
    font-size: 16px;
  }
  @include desktop-up {
    margin-top: 13px;
    font-size: 18px;
  }
}
.cost__table-header p:last-child {
  margin: 2px 0 17px;
  @include font(24px, 300);

  @include tablet-up {
    font-size: 18px;
    margin-top: -3px;
    margin-bottom: 7px;
  }
  @include desktop-up {
    margin-top: 2px;
    margin-bottom: 17px;
    font-size: 24px;
  }
}
.cost__table-body td {
  height: 61px;
  text-transform: uppercase;
  padding-left: 21px;
  border: 2px solid #e5e5e5;
  background-color: #fff;
  line-height: 31px;

  @include tablet-up {
    width: 25%;
    height: 47px;
    padding-left: 0;
    line-height: 0;
  }
  @include desktop-up {
    height: 61px;
  }
}
.cost__table-body td:first-child {
  font-size: 0;
  border: none;

  @include tablet-up {
    padding-left: 15px;
    font-size: 14px;
    border: 2px solid #e5e5e5;
    text-transform: none;
  }
  @include desktop-up {
    padding-left: 21px;
    font-size: 18px;
  }
}
.cost__table-body td:not(:first-child) {

  @include tablet-up {
    text-align: center;
  }
}
.cost__table-body td:nth-child(n+2) {
  @include tablet-up {
    font-size: 0;
  }
  @include tablet-up
}
.cost__table-icon-yes {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 4px;
  margin-right: 17px;

  @include tablet-up {
    float: none;
    margin-right: 0;
  }
}
.cost__table-icon-yes path {
  fill: #3dc644;
}
.cost__table-icon-no {
  float: right;
  width: 26px;
  height: 26px;
  margin-right: 18px;

  @include tablet-up {
    float: none;
    margin-right: 0;
  }
}
.cost__table-icon-no path {
  fill: #f25b26;
}
.cost__package-hit {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 74px;
    height: 73px;
    background-image: url('../img/bg-hit.svg');

    @include tablet-up {
      width: 61px;
      height: 61px;
      background-image: url('../img/bg-hit-tablet.svg');
    }
    @include desktop-up {
      width: 74px;
      height: 73px;
      background-image: url('../img/bg-hit.svg');
    }
  }
  &::after {
    content: 'ХИТ';
    position: absolute;
    top: 10px;
    left: 7px;
    transform: rotateZ(-45deg);

    @include tablet-up {
      top: 2px;
      left: 5px;
    }
    @include desktop-up {
      top: 9px;
      left: 9px;
    }
  }
}
.cost__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;

  @include tablet-up {
    display: none;
  }
}
.cost__toggles .slider__input {
  display: none;
}
.cost__toggles .slider__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 9px;
  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}
