.cost {
  height: 446px;
  background-color: #f2f2f2;
  overflow: hidden;
}
.cost__wrapper {
  position: relative;
  @include container;
}
.cost__items-wrapper {
  position: absolute;
  top: 0;
  left: -540px;
  width: 1130px;

  @media ($tablet) {
    position: static;
    display: flex;
    width: auto;
  }
}
.cost__item {
  float: left;
  width: 280px;
  &:first-child .cost__list-item:first-child {
    background-color: transparent;
  }

  @media ($tablet) {
    flex-grow: 1;
  }
}
.cost__list {
  padding: 0;
}
.cost__list-item {
  display: block;
  list-style: none;
  @include font;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
  &--title {
    background-color: #283645;
  }
  &:first-child {
    height: 98px;
  }
}
.cost__list-title {
  @include font(18px, 700);
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  color: #fff;
}
.cost__list-price {
  @include font(24px, 300);
  text-align: center;
  line-height: 30px;
  color: #fff;
}
