.download-apps {
  position: relative;
  width: auto;
  height: 733px;
  padding-bottom: 271px;
  background:  url('../img/iphone-hand-mobile@1x.png') left 176px no-repeat,
               url('../img/bg-back-mobile@1x.jpg') center top no-repeat,
                #1d2631;
}
.download-apps__wrapper {
  position: absolute;
  top: 66%;
  left: 50%;
	overflow: auto;
  @include container;
  margin-left: -160px;

  @media ($tablet) {
    position: static;
    width: 340px;
    margin: 0;
  }
}
.download-apps__title {
  @include font(0);

  @media ($tablet) {
    @include font(40px, 300);
    text-align: center;
    color: #fff;
  }
}
.download-apps__btn {
  display: block;
  width: 281px;
  height: 55px;
  margin: 19px auto;
  border: 3px solid #fff;
  border-radius: 30px;
  color: #fff;
  @include font(18px, 700);
  text-align: center;
  line-height: 49px;
}
.download-apps__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64.0625%;
  margin: 0 auto;
  padding: 0;
}
.download-apps__item {
  display: inline-block;
  list-style: none;
}
.download-apps__link {
  display: block;
}
.download-apps__descriptions {
  width: 76%;
  margin: 0 auto;
  text-align: center;
  @include font(14px, 300);
  line-height: 24px;
  color: #fff;
}
