.download-apps {
  position: relative;
  width: auto;
  height: 732px;
  padding-bottom: 271px;
  background: url('../img/bg-back-mobile@1x.jpg') center top no-repeat;
  background-size: auto 461px;
  background-color: #1d2631;
  @media  (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('../img/bg-back-mobile@2x.jpg');
  }

  @include tablet-up {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    background: url('../img/bg-back-tablet@1x.jpg') center top no-repeat;
    @media  (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url('../img/bg-back-tablet@2x.jpg');
      background-size: auto 727px;
    }
  }
  @include desktop-up {
    padding-top: 0;
    padding-bottom: 0;
    background: url('../img/bg-back-desktop@1x.jpg') center top no-repeat;
    @media  (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url('../img/bg-back-desktop@2x.jpg');
      background-size: auto 852px;
    }
  }
}
.download-apps__wrapper {
  @include container-fluid;
  height: 100%;
  background: url('../img/iphone-hand-mobile@1x.png') left bottom no-repeat;
  background-size: 258px;

  @media  (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('../img/iphone-hand-mobile@2x.png');
  }

  @include tablet-up {
    padding-top: 201px;
    padding-bottom: 93px;
    background: url('../img/iphone-hand-tablet@1x.png') 50% bottom no-repeat;
    @media  (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url('../img/iphone-hand-tablet@2x.png');
      background-size: 701px;
      background-position-x: 49%;
    }
  }
  @include desktop-up {
    padding-top: 218px;
    padding-bottom: 86px;
    background: url('../img/iphone-hand-desktop@1x.png') -15% bottom no-repeat;
    @media  (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url('../img/iphone-hand-desktop@2x.png');
      background-size: 1050px;
    }
  }
}
.download-apps__items-wrapper {
  position: absolute;
  top: 470px;
  left: 50%;
  width: 280px;
  margin-left: -140px;

  @include tablet-up {
    position: static;
    width: 300px;
    margin: 0;
  }
}
.download-apps__title {
  @include font(0);

  @include tablet-up {
    width: 191px;
    margin: 0 auto;
    @include font(40px, 300);
    text-align: center;
    line-height: 48px;
    color: #fff;
  }
  @include desktop-up {
    width: 237px;
    font-size: 50px;
    line-height: 60px;
  }
}
.download-apps__btn {
  display: block;
  width: 281px;
  height: 55px;
  margin: 19px auto;
  border: 3px solid #fff;
  border-radius: 30px;
  color: #fff;
  @include font(18px, 700);
  text-align: center;
  line-height: 49px;
  &:hover {
    color: $accent-color;
    background-color: #fff;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @include tablet-up {
    width: 100%;
    margin: 31px auto;
  }
  @include desktop-up {
    margin: 52px auto;
    font-size: 21px;
  }
}
.download-apps__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 73.5%;
  margin: 0 auto;
  padding: 13px 0;

  @include tablet-up {
    width: 69.5%;
    padding: 15px 0;
  }
}
.download-apps__item {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}
.download-apps__link {
  display: block;
}
.download-apps__descriptions {
  width: 83%;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  @include font(14px, 300);
  line-height: 24px;
  color: #fff;

  @include tablet-up {
    width: auto;
    margin: 12px 0;
    font-size: 18px;
  }
  @include desktop-up {
    margin: 31px 0;
  }
}
