.effect {
  display: none;

  @media ($tablet) {
    display: flex;
    padding-top: 66px;
    padding-bottom: 66px;
  }
  @media ($desctop) {
    padding-top: 87px;
    padding-bottom: 156px;
    background-color: $bg-grey;
  }
}
.effect__wrap {
  @include container-fluid;

  @include tablet-up {
    padding-left: 47%;
  }
  @include desctop-up {
    padding-left: 366px;
    padding-right: 25px;
  }
}
.effect__title {
  margin-bottom: 10px;
  @include font(30px, 700);
  line-height: 36px;

  @media ($desctop) {
    margin-bottom: 24px;
    line-height: 30px;
    & br {
      display: none;
    }
  }
}
.effect p {
  @include font;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;

  @media ($desctop) {
    @include font(18px);
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.effect__link {
  line-height: 24px;
  color: $accent-color;
  text-decoration: underline;

  @media ($desctop) {
    @include font(18px);
    line-height: 30px;
  }
}
