.form {
  display: flex;
  flex-wrap: wrap;
  @media ($tablet) {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }
  @media ($desctop) {
      width: 960px;
      padding: 0 10px;
  }
}
.form__description {
  @include font;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
.form__user-info {
  padding: 0 20px 42px;

  @media ($tablet) {
    order: -3;
  }
  @media ($desctop) {
    flex-basis: 50%;
  }
  & label {
    padding-left: 20px;
    @include font;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
  }
  & input {
    padding-left: 18px;
    width: 100%;
    height: 63px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    @include font(18px);
    line-height: 30px;
    color: #283645;
    &::-moz-placeholder { color: #283645; }
    &::-webkit-input-placeholder { color: #283645; }
  }
}
.form__user-achievements {
  background-color: #f2f2f2;
  padding: 0 20px;

  @media ($tablet) {
    flex-basis: 100%;
  }
}
.form__user-achievements-title {
  @include font;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}
.form__user-achievements-item {
  & label {
    @include font(18px);
    line-height: 30px;
    color: #283645;
  }
}
.form__user-contacts {
  padding: 40px 20px 42px;

  @media ($tablet) {
    order: -1;
  }
  @media ($desctop) {
    flex-basis: 100%;
  }
  & label {
    padding-left: 20px;
    @include font;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
  }
  & input {
    padding-left: 18px;
    width: 100%;
    height: 63px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    @include font(18px);
    line-height: 30px;
    color: #283645;
    &::-moz-placeholder { color: #283645; }
    &::-webkit-input-placeholder { color: #283645; }
  }
}
.form__user-apps {
  background-color: #f2f2f2;
  padding: 0 20px;

  @media ($tablet) {
    order: -2;
  }
  @media ($tablet) {
    flex-basis: 50%;
  }
}
.form__user-apps-title {
  @include font;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}
.form__user-apps-item {
  & label {
    @include font(18px);
    line-height: 30px;
    color: #283645;
  }
}
.form__user-comment {
  padding: 40px 20px 0;
  & label {
    display: block;
    @include font;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;
  }
  & textarea {
    width: 100%;
    height: 201px;
    padding: 20px;
    @include font(18px);
    line-height: 30px;
    color: #283645;
  }

  @media ($tablet) {
    flex-basis: 100%;
  }
}
.form__submit-button {
  width: 100%;
  height: 63px;
  margin-top: 45px;
  @include font(18px, 700);
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #2aab6d;
}
.form__descrioption-required-fields {
  margin-top: 35px;
  color: #283645;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  & span {
    color: #d22856;
  }

}
