.form {

}
.form__items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet-up {
    @include container-fluid;
  }
}
.form__items-wrapper fieldset {
  width: 100%;
}
.form__description {
  @include font;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
.form__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__item-chekboxes label:nth-of-type(n+5) {

  @include desktop-up {
    width: 28%;
  }
}
.form__user-info {
  padding: 0px 6.25% 42px;

  @include tablet-up {
    order: -3;
    padding: 0;
  }
  @include desktop-up {
    flex-basis: 46.3%;
    padding-top: 20px;
    // padding-right: 35px;
  }
}
.form__user-info .form__item {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.form__user-info label {
  padding: 17px 0 5px 22px;
  @include font;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;

  @include tablet-up {
    padding: 43px 18px 42px 0;
  }
}
.form__user-info input {
  padding-left: 20px;
  width: 100%;
  height: 63px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  @include font(18px);
  line-height: 30px;
  color: #283645;
  &::-moz-placeholder { color: #283645; }
  &::-webkit-input-placeholder { color: #283645; }

  @include tablet-up {
    width: 84%;
    flex-grow: 1;
  }
  @include desktop-up {
    width: 78%;
  }
}
.form__user-achievements {
  position: relative;
  padding: 91px 6.25% 21px;
  background-color: #f2f2f2;

  @include tablet-up {
    margin-top: 65px;
    padding: 30px 9.35% 27px;
    flex-basis: 100%;
    background-color: transparent;
    border: 2px solid #e5e5e5;
  }
  @include desktop-up {
    padding: 30px 0 34px 18px;

  }
}
.form__user-achievements .form__item {
  flex-direction: column;
  // flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop-up {
    flex-direction: column;
    align-items: flex-end;;
    height: 164px;
  }
}
.form__user-achievements-title {
  position: absolute;
  top: 38px;
  left: 50%;
  width: 250px;
  padding: 0 16px;
  @include font;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  transform: translateX(-50%);

  @include tablet-up {
    top: -10px;
    width: 436px;
    background-color: #fff;
  }
}
.form__user-achievements input {
  display: none;
}
.form__user-achievements label {
  position: relative;
  padding: 26px 0 26px 69px;
  @include font(18px);
  line-height: 30px;
  color: #283645;

  &::before {
    content: '';
    position: absolute;
    top: 22px;
    left: 0;
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    background-color: #fff;
  }

  @include tablet-up {
    padding-left: 59px;
  }
  @include desktop-up {
    width: 29%;
  }
}
input[type="checkbox"]:checked + label:before {
  content: '';
  background: url('../img/icon-yes.svg') center no-repeat, #fff;
}
.form__user-contacts {
  padding: 15px 6.25% 42px;

  &::before {

    @include tablet-up {
      content: '';
      position: absolute;
      top: 45px;
      right: 60px;
      width: 60px;
      height: 63px;
      background: url('../img/icon-phone.svg') center no-repeat, #e5e5e5;
      z-index: 1;
    }
    @include desktop-up {
      top: 42px;
      left: 371px;
    }
  }
  &::after {

    @include tablet-up {
      content: '';
      position: absolute;
      bottom: 66px;
      right: 60px;
      width: 60px;
      height: 63px;
      background: url('../img/icon-mail.svg') center no-repeat, #e5e5e5;
      z-index: 1;
    }
    @include desktop-up {
      top: 42px;
    }
  }

  @include tablet-up {
    position: relative;
    margin-top: 65px;
    padding: 45px 58px 0;
    order: -1;
    border: 2px solid #e5e5e5;
  }
  @include desktop-up {
    margin-top: 39px;
    padding-top: 42px;
    flex-basis: 100%;
  }
}
.form__user-contacts-title {
  display: none;

  @include tablet-up {
    position: absolute;
    top: -10px;
    left: 50%;
    display: block;
    width: 260px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $accent-color;
    background-color: #fff;
    transform: translateX(-50%);
  }
}
.form__user-contacts label {
  padding: 17px 0 5px 22px;
  @include font;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;

  @include tablet-up {
    padding: 10px 0 29px 19px;
  }
}
.form__user-contacts label span {
  @include tablet-up {
    display: none;
  }
}
.form__user-contacts input {
  position: relative;
  padding-left: 20px;
  width: 100%;
  height: 63px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  @include font(18px);
  line-height: 30px;
  color: #283645;
  &::-moz-placeholder { color: #283645; }
  &::-webkit-input-placeholder { color: #283645; }
  outline: none;

  @include desktop-up {
    width: 45.7%;
  }
}
.form__user-contacts .form__item {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form__user-contacts input:first-of-type {
  @include tablet-up {
    order: -1;
  }
}
.form__user-contacts label:last-of-type {
  @include tablet-up {
    order: 1;
    padding-bottom: 26px;
  }
  @include desktop-up {
    margin-right: auto;
    padding-left: 59px;
    padding-bottom: 13px;
  }
}
.form__user-contacts label:first-of-type {
  @include desktop-up {
    order: 1;
    margin-right: auto;
    padding-bottom: 13px;
  }
}
.form__user-apps {
  position: relative;
  padding: 90px 20px 25px;
  background-color: #f2f2f2;

  @include tablet-up {
    margin-top: 40px;
    padding-top: 24px;
    padding-bottom: 46px;
    order: -2;
    background-color: transparent;
    border: 2px solid #e5e5e5;
  }
  @include desktop-up {
    margin-top: 38px;
    margin-bottom: 26px;
    padding-top: 27px;
    padding-left: 36px;
    flex-basis: 46.3%;
  }
}
.form__user-apps-title {
  position: absolute;
  top: 38px;
  left: 50%;
  width: 250px;
  @include font;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  transform: translateX(-50%);

  @include tablet-up {
    top: -10px;
    left: 50%;
    width: 372px;
    background-color: #fff;
  }
}
.form__user-apps input {
  display: none;
}
.form__user-apps label {
  position: relative;
  padding: 23px 0 22px 69px;
  @include font(18px);
  line-height: 30px;
  color: #283645;

  &::before {
    content: '';
    position: absolute;
    top: 19px;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-color: #fff;
  }

  @include tablet-up {
    padding: 32px 0 13px 97px;

    &::before {
      top: 27px;
      left: 37px;
    }
  }
  @include desktop-up {
    padding: 32px 0 12px 97px;
  }
}
.form__input-radio:checked + label:after {
  content: '';
  position: absolute;
  top: 31px;
  left: 12px;
  width: 0px;
  height: 0px;
  border: 8px solid #d22856;
  border-radius: 50%;

  @include tablet-up {
    top: 39px;
    left: 49px;
  }
}
.form__user-comment {
  position: relative;
  padding: 72px 6.25% 0;

  @include tablet-up {
    margin-top: 65px;
    margin-bottom: 19px;
    padding: 45px 58px 48px;
    border: 2px solid #e5e5e5;
  }
  @include desktop-up {
    flex-basis: 100%;
    padding-top: 42px;
    padding-bottom: 40px;
  }
}
.form__user-comment-title {
  position: absolute;
  top: 32px;
  left: 50%;
  width: 250px;
  @include font;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  transform: translateX(-50%);

  @include tablet-up {
    top: -16px;
    width: 260px;
    background-color: #fff;
  }
}
.form__user-comment textarea {
  width: 100%;
  height: 201px;
  padding: 15px 19px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  resize: none;

  @include tablet-up {
    height: 193px;
  }
  @include desktop-up {
    height: 128px;
  }
}
.form__user-comment + .form__item {
  flex-direction: column;

  @include tablet-up {
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.form__submit-button {
  width: 87.5%;
  height: 63px;
  margin: 45px auto 0;
  @include font(18px, 700);
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #2aab6d;

  @include tablet-up {
    width: 74%;
    margin-top: 48px;
  }
  @include desktop-up {
    width: 37.3%;
    margin-top: 46px;
  }
}
.form__descrioption-required-fields {
  width: 80%;
  margin: 35px auto 15px;
  color: #283645;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @include tablet-up {
    text-align: right;
  }
}
.form__descrioption-required-fields .hidden {
  display: none;

  @include desktop-up {
    display: inline;
  }
}
