.main-nav {
}
.main-nav__toggle {
  position: absolute;
  top: 19px;
  right: 4%;
  background-color: transparent;
  border: none;

  @include tablet-up {
    top: 44px;
    right: 2%;
  }
  @include desktop-up {
    display: none;
  }
}
.main-nav__wrapper {
}
.main-nav__items {
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  @include clearfix;

  @include desktop-up {
    float: right;
    padding-top: 36px;
  }
}
.main-nav__item {
  display: block;
  width: 100%;
  @include font(18px, 700);
  line-height: 62px;
  text-align: center;
  text-transform: uppercase;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;


  @include desktop-up {
    float: left;
    width: auto;
    padding: 0 40px;
    @include font(18px);
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    line-height: 37px;
    &:last-child {
      padding-right: 0;
    }
  }
}
.main-nav__link {
  display: block;
  color: #fff;

  &:hover {
    color: $accent-color;
  }
  &:active {
    color: #fff;
    opacity: 0.3;
  }
}
.main-nav__link--active {
  &:hover {
    color: $accent-color;
    border-bottom-color: $accent-color;
  }
  &:active {
    opacity: 1;
  }

  @include desktop-up {
    border-bottom: 2px solid #fff;
  }
}


@media ($mobile-device-only) {
  .main-nav--opened svg:first-child {
    display: none;
  }
  .main-nav--closed svg:last-child {
    display: none;
  }
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
  .main-nav--nojs svg {
    display: none;
  }
}
