.main-description {
  padding-top: 31px;
  padding-bottom: 5px;
}
.main-description__wrapper {
  @include container-fluid;
  line-height: 30px;
  text-align: center;
}
.main-description__wrapper p {
  margin-bottom: 12px;

  @include tablet-up {
    width: 80%;
    margin: 61px auto 40px;
    font-size: 18px;
  }
  @include desktop-up {
    width: 85%;
    margin-bottom: 35px;
  }
}
.main-description__wrapper .hidden {

  @include tablet-up {
    display: inline;
  }
}
.main-description br {

  @include tablet-up {
    display: none;
  }
  @include desktop-up {
    display: inline;
  }
}
