.page-header {
  position: relative;
  margin-bottom: -66px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;

  @include tablet-up {
    margin-bottom: -109px;
  }
  @include desctop-up {
    height: 110px;
    margin-bottom: -110px;
  }
}
.page-header__wrapper {
  padding: 0;
  @include tablet-up {
    width: auto;
    padding: 0;
  }
  @include desctop-up {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
.page-header__logo {
  padding: 22px 0 21px 20px;
  border-bottom: 1px solid #000;
  background-color: #283645;

  @include tablet-up {
    padding-top: 27px;
    padding-bottom: 39px;
  }

  @include desctop-up {
    float: left;
    padding-left: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
  }
}
