.page-footer {
  padding-top: 40px;
  padding-bottom: 38px;

  @include tablet-up {
    display: block;
    padding: 35px 0 34px;
  }
  @include desktop-up {
    padding: 20px 0 69px;
  }
}
.page-footer__wrapper {
  @include container-fluid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include tablet-up {
    flex-direction: row;
  }
}
.page-footer__item {
  @include tablet-up {
    // display: inline-block;
  }
}
.page-footer__logo {
  margin-bottom: 37px;
  text-align: center;

  @include tablet-up {
    margin-bottom: 15px;
  }
}
.page-footer__social {
  margin: 0 auto 35px;
  display: flex;
  justify-content: space-between;
  width: 177px;
  padding: 0;

  @include tablet-up {
    margin: 0;
  }
  @include desktop-up {
    margin-left: 13px;
  }
}
.social-link {
  text-align: center;
}
.social-link svg {
  height: 46px;
}
.page-footer__copyright {
  height: 40px;
  line-height: 40px;
  text-align: center;
  @include clearfix;

  @include tablet-up {
    line-height: 30px;
    text-align: center;
    padding: 6px 0 0 17px;
  }
  @include desktop-up {
    font-size: 18px;
    padding-left: 0;
  }
}
.page-footer__copyright-link {
  display: block;
  float: right;
  margin-left: 15px;
}
.page-footer__copyright-link svg {
  vertical-align: middle;
}
.page-footer__copyright-link path {
  fill: $accent-color;
}
