.page-header {
  position: relative;
  margin-bottom: -66px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.page-header__wrapper {
  padding: 0;
  @media ($tablet) {
    width: auto;
    padding: 0;
  }
  @media ($desctop) {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
.page-header__logo {
  padding: 22px 0 26px 20px;
  border-bottom: 1px solid #000;
  background-color: #283645;
}

@media ($desctop) {
	.page-header {
		height: 110px;
		margin-bottom: -110px;
	}
  .page-header__logo {
    float: left;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
  }
	.main-nav__item {
		border: none;
		background-color: transparent;
		line-height: 110px;
		@include font(18px);
		&:last-child {
			padding-right: 0;
		}
	}

}
