.picture-users {
  margin-top: 32px;

  @include tablet-up {
    margin-top: 31px;
  }
  @include desktop-up {
    margin-top: 48px;
  }
}
.picture-users__item {

  @include tablet-up {
    flex-basis: 48.4%;

    display: flex;
    flex-direction: column;
  }
  @include desktop-up {
    flex-basis: 31.9%;
  }
}
.picture-users__item-wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding: 19px 17px;
  background-color: #f2f2f2;
  margin-bottom: 20px;

  @include tablet-up {
    @include container-fluid;
    display: flex;
    flex-wrap: wrap;
  }
}
.picture-users__item--panarama-day {
  position: relative;
}
.picture-users__item--panarama-day picture {
  height: 100%;
}
.picture-users__item-wrapper--panarama-day {

  @include tablet-up {
    padding: 25px 27px 15px;
    margin-bottom: 50px;
  }
  @include desktop-up {
    margin-bottom: 49px;
    padding-right: 30px;
  }
}
.picture-users__panarama-baner-wrapper {
  position: relative;
  @include container-fluid;
}
.picture-users__panarama-baner-wrapper b {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 11px 20px 12px 19px;
  @include font(12px, 700);
  color: #fff;
  text-transform: uppercase;
  background-color: $accent-color;
  z-index: 1;

  @include tablet-up {
    top: 57px;
    right: 0;
  }

  @include desktop-up {
    top: 54px;
  }
}
.picture-users__item--panarama-day .picture-users__item-wrapper--panarama-day p {
  margin-bottom: 10px;
}
.picture-users__item-wrapper--panarama-day .picture-users__likes-btn {

  @include tablet-up {
    order: 1;
    width: 17px;
    margin-left: 15px;
  }
}
.picture-users__item-wrapper--panarama-day .picture-users__likes-text {
  @include tablet-up {
    margin-left: auto;
    padding-top: 0;
    padding-right: 3px;
  }
}
.picture-users__item-wrapper--panarama-day .picture-users__likes-count {
  @include tablet-up {
    padding-top: 0;
  }
}
.picture-users__item--panarama-day .user-likes__btn {
  @include tablet-up {
    order: 1;
    margin-left: 14px;
    padding: 0 9px;
  }
}
.picture-users__item--panarama-day .user-likes__text {
  @include tablet-up {
    margin-left: auto;
    padding-top: 1px;
  }
}
.picture-users__item--panarama-day .user-likes__count {
  @include tablet-up {
    padding-top: 1px;
  }
}
.picture-users__item p {
  flex-basis: 100%;
  margin: 1px 0 8px;
  @include font;
  line-height: 24px;

  @include tablet-up {
    margin-top: 0;
  }
}
.picture-users__item--panarama-day p {
  @include tablet-up {
    order: 2;
    margin-top: -1px;
  }
}
.picture-users__items-wrapper {
  @include container-fluid;

  @include tablet-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.picture-users__appeal {
  padding: 19px 0 42px;
  @include font;
  line-height: 30px;
  text-align: center;

  @include tablet-up {
    padding-top: 45px;
    padding-bottom: 69px;
    font-size: 18px;
  }
  @include desktop-up {
    padding-top: 5px;
    padding-bottom: 66px;
  }
}
.picture-users__appeal-wrapper {
  @include container-fluid;
}
.picture-users__appeal p {
  margin: 0;
}
.picture-users__description-name {
  @include font(14px, 700);
  font-style: normal;
  line-height: 22px;
}
.picture-users__description-pos-time {
  padding: 0 4px;
  @include font(12px, 300);
  line-height: 22px;
  text-transform: uppercase;
}
.picture-users__image {
  width: 100%;
  margin-bottom: -3px;
  text-align: center;
}
.picture-users__image--panarama-day {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: -3px;
}
.picture-users__likes-wrapper {
  padding-top: 3px;

  @include tablet-up {
    display: flex;
    width: 100%;
    margin-top: auto;
    padding: 0;
  }
}
.picture-users__likes-btn {
  width: 15px;
  height: 12px;
  border: none;
  background: url('../img/icon-heart.svg') center no-repeat;

  @include tablet-up {
    width: 23px;
    height: 21px;
    order: 1;
    margin-left: auto;
  }
}
.picture-users__likes-text {
  padding-left: 14px;
  @include font(12px);
  line-height: 24px;
  text-transform: uppercase;
  color: $accent-color;

  @include tablet-up {
    padding-left: 0;
    padding-right: 3px;
  }
}
.picture-users__likes-count {
  @include font(12px);
  line-height: 24px;
  text-transform: uppercase;
  color: $accent-color;
}
.picture-users__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 121px;
margin-bottom: 20px;
  padding: 19px 17px;
  background-color: #f2f2f2;

  @include tablet-up {
    min-height: 155px;
    flex-basis: 48.4%;
    padding: 25px 27px 22px;
  }
  @include desktop-up {
    margin-bottom: 54px;
  }
}
